<div class="container main-content">

	<div class="row" >
		<div class="col-md-12" >
			<form class="form-inline well well-sm" >
				<span class="glyphicon glyphicon-search" ></span >

				<div class="form-group" >
						<input type="text"
						       class="form-control"
						       id="name"
						       ng-model="search"
						       placeholder="Search name..."
								/>
				</div >

				<span class="glyphicon glyphicon-sort-by-attributes" ></span >

				<div class="form-group" >
					<select class="form-control"
									ng-model="order">
						<option value="username" >Name (ASC)</option >
						<option value="-username" >Name (DEC)</option >
						<option value="email" >Email (ASC)</option >
						<option value="-email" >Email (DEC)</option >
					</select >
				</div >

			</form >
		</div >
	</div >


	<div class="row" >
		<div class="col-md-8" >

			<table class="table table-bordered" >

				<tr >
					<th >#</th >
					<th >Name
						<span ng-click="order = 'username'" class="glyphicon glyphicon-menu-up"></span>
						<span ng-click="order = '-username'" class="glyphicon glyphicon-menu-down"></span>
					</th >
					<th >Email
						<span ng-click="order = 'email'" class="glyphicon glyphicon-menu-up"></span>
						<span ng-click="order = '-email'" class="glyphicon glyphicon-menu-down"></span>
					</th >
					<th >Birthday</th >
				</tr >

				<tr ng-repeat="user in filteredUsers = (user | filter:sensitiveSearch | orderBy:order)"
				    ng-style="{
							 'background-color': $index == selectedIndex ? 'lightgray' : ''
						}"
				    ng-click="selectUser(user, $index)" >
					<td >{{ $index }}</td >
					<td >{{ user.name }}</td >
					<td >{{ user.email }}</td >
					<td >{{ user.address}}</td >
				</tr >
				<tr ng-show="filteredUsers.length == 0">
					<td colspan="4">
						<div class="alert alert-info">
							<p class="text-center">No results found for search term '{{ search }}'</p>
						</div>
					</td>
				</tr>


			</table >

		</div >
		<div class="col-md-4" >

			<div class="panel panel-default" >
				<div class="panel-heading" >Details</div >
				<div class="panel-body" >

					<dl >
						<dt >Name</dt >
						<dd >{{selectedUser.username}}</dd >
						<dt >Email</dt >
						<dd >{{selectedUser.email}}</dd >
						
						<dt >Address</dt >
						<dd >{{selectedUser.address}}</dd >
						
					</dl >

				</div >
			</div >

		</div >
	</div >


</div >